body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(100, 214, 223), white);
    height: 100vh;
    width: 100vh;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height: auto;
    width: 520px;
    gap: 20px;
    padding: 10px;
    border: 2px solid yellow;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
}

.all-clear, .equals {
    grid-column: span 2;
}

.display {
    background-color: rgb(226, 226, 226);
    border: 1px solid white;
    height: 60px;
    width: 400px;
    text-align: right;
    font-size: 2rem;
    line-height: 60px;
}